.about {
  padding: 80px 20px;
  background-color: #f8f9fa;
  align-items: center;
}

.aboutContainer {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.aboutContainer h2 {
  
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: #111;
}

.aboutContainer p {
  font-size: 1.2rem;
  line-height: 1.8;
  color: #555;
}