.headerContainer {
  width: 100%;
  font-family: 'Roboto', sans-serif; /* O la tipografía que uses en tu app */
  background-color: #343a40;
}

.topHeader {
  border-bottom: 1px solid #e5e7eb;
}

/* Buscador */
.searchArea {
  width: 45%;
}

.searchInput {
  border: 1px solid #e2e8f0;
  background-color: #f8fafc;
  padding: 10px 15px;
  font-size: 0.95rem;
}

.searchInput:focus {
  border-color: #0076ce;
  box-shadow: none;
  background-color: #fff;
}

.searchIcon {
  background-color: #f8fafc;
  border: 1px solid #e2e8f0;
  border-left: none;
  cursor: pointer;
}

/* Área de usuario e iconos */
.userArea {
  display: flex;
  align-items: center;
  gap: 20px;
}

.iconBtn {
  background: none;
  border: none;
  font-size: 1.3rem;
  color: #1e293b;
  cursor: pointer;
}

.loginBtn {
  background: #f1f5f9;
  border: none;
  padding: 8px 16px;
  font-weight: 700;
  font-size: 0.85rem;
  letter-spacing: 0.5px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #0f172a;

  transition: color 0.3s ease, background-color 0.3s ease ,border-color 0.3s ease, transform 0.2s ease;
}
.loginBtn:hover {
  background-color: #e2e8f0;
  border: 1px solid #0076ce;
  color: #0076ce;


}


.cartContainer {
  display: flex;
  align-items: center;
  background-color: #008f39;
  color: white;
  border-radius: 4px;
  overflow: hidden;
  font-weight: 700;
  font-size: 0.85rem;
}

.cartLabel {
  padding: 8px 14px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.cartBadge {
  background-color: #00732e;
  padding: 8px 14px;
  min-width: 35px;
  text-align: center;
}

/* BARRA DE MENÚ AZUL */
.mainNavbar {
  background-color: #000 !important; /* El color azul Francia de la foto */
  padding: 0 !important;
}

.navLinkItem {
  color: #ffffff !important;
  font-weight: 700;
  font-size: 0.85rem;
  padding: 12px 10px !important;
  letter-spacing: 0.5px;
  transition: border-bottom 1s ease,border-bottom-color 1s ease,transform 0.2s ease;
}

.navLinkItem:hover {
  border-bottom: 1px solid white;
}

/* Adaptación para el menú colapsable en celulares */
@media (max-width: 991px) {
  .searchArea {
    width: 100%;
    order: 3;
    margin-top: 15px;
  }
  .userArea {
    gap: 10px;
  }
  .navLinkItem {
    padding: 10px 15px !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
}